<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="logs\internal-log.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <!--<variable name="DefaultLayout" value="${longdate} | ${event-properties:item=EventId_Id} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=type,tostring} | ${callsite} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />-->
  
  <!-- the targets to write to -->
  <targets async="true">
    <target xsi:type="File" 
            name="LogFile" 
            filename="../../../logs\log-${shortdate}.log" 
            layout="-------------- LOG -------------- ${newline} DATE : ${longdate} ${newline} LEVEL : ${uppercase:${level}} ${newline} MESSAGE : ${message} ${newline} URL : ${aspnet-request-url} ${newline} ACTION : ${aspnet-mvc-action} ${newline} LOGGER : ${logger} ${newline} EXCEPTION : ${exception:format=tostring} ${newline} -------------- LOG -------------- ${newline}" 
            encoding="utf-8" 
            archiveEvery="Day"/>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="LogFile" />
  </rules>
</nlog>