
<kendo-pager ng-reflect-total="6" ng-reflect-skip="0" ng-reflect-page-size="10" ng-reflect-options="true" class="k-pager-wrap k-grid-pager k-widget ng-star-inserted">
  <kendo-pager-prev-buttons class="ng-star-inserted">
    <a href="#" tabindex="-1" class="k-link k-pager-nav k-state-disabled k-pager-first" ng-reflect-ng-class="[object Object]" title="Go to the first page">
      <span class="k-icon k-i-seek-w" ng-reflect-ng-class="[object Object]" aria-label="Go to the first page"></span>
    </a>
    <a href="#" tabindex="-1" class="k-link k-pager-nav k-state-disabled" ng-reflect-ng-class="[object Object]" title="Go to the previous page">
      <span class="k-icon k-i-arrow-w" ng-reflect-ng-class="[object Object]" aria-label="Go to the previous page"></span>
    </a>
  </kendo-pager-prev-buttons>
  <kendo-pager-numeric-buttons ng-reflect-button-count="10" class="ng-star-inserted">
    <ul class="k-pager-numbers k-reset" ng-reflect-ng-class="[object Object]">
      <li class="ng-star-inserted"><a href="#" tabindex="-1" class="k-link k-state-selected" ng-reflect-ng-class="[object Object]"> 1 </a></li>
    </ul>
  </kendo-pager-numeric-buttons>
  <kendo-pager-next-buttons class="ng-star-inserted">
    <a href="#" tabindex="-1" class="k-link k-pager-nav k-state-disabled" ng-reflect-ng-class="[object Object]" title="Go to the next page">
      <span class="k-icon k-i-arrow-e" ng-reflect-ng-class="[object Object]" aria-label="Go to the next page">
      </span>
    </a>
    <a href="#" tabindex="-1" class="k-link k-pager-nav k-state-disabled k-pager-last" ng-reflect-ng-class="[object Object]" title="Go to the last page">
      <span class="k-icon k-i-seek-e" ng-reflect-ng-class="[object Object]" aria-label="Go to the last page"></span>
    </a>
  </kendo-pager-next-buttons>
  <kendo-pager-info class="k-pager-info k-label ng-star-inserted"></kendo-pager-info>

  

</kendo-pager>

<kendo-pager-page-sizes [pageSizes]="[5, 10, 25,40,50]"></kendo-pager-page-sizes>
  

