
.previewIcon {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
}


.my-drop-zone {
  border: dotted 3px lightgray;
}
/* Default class applied to drop zones on over */
.invalid-drag {
  border: dotted 3px red;
}

.valid-drag {
  border: dotted 3px green;
}

html, body {
  height: 100%;
}

.previewIcon {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}

.inline-block {
  display: inline-block;
  margin: .2em;
}
.cdk-overlay-pane{
  width:60%;
}
.f_S_16{
  font-size:16px;
}
.margin_L{
  margin-left:5px;
}
.preview-logo {
  background-color: #d6d6d6;
  border-radius: 5px;
}
